@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap%22");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@font-face {
    font-family: spoody;
    src: url(BebasNeue-Regular.otf);
}

@font-face {
  font-family: spoody2;
  src: url(text.otf);
}


body {
  padding: 350px;
  background-image: url('/bg.gif');
  overflow: hidden; /* Hide scrollbars */
  user-select: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-family: Arial, Helvetica, sans-serif;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    top: 150px;
    margin-top: 50px;
    font-size: 100px;
    user-select: none;
    animation-name: droptext;
    animation-duration: 2s;
}


.shit {
  position: absolute;
  top: 15px;
  width: 75px;
  height: 75px;
  left: 25px;
  transition: 0.25s ease-in-out;   
  border-radius: 50px;
  animation-name: example;
  animation-duration: 0.75s;
}

.shit:hover {
  transition: 0.25s ease-in-out;   
  transform: scale(1.05);
}

.github {
  position: absolute;
  filter: invert(1);
  top: 33px;
  width: 22px;
  height: 22px;
  left: 125px;
  padding: 8px;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50px;
  transition: 0.25s ease-in-out;   
  animation-name: drop;
  animation-duration: 0.75s;
}

.github:hover {
  border: 2px solid rgb(0, 217, 255);
  transition: 0.25s ease-in-out;   
  transform: scale(1.09);
}

.discord{
  position: absolute;
  filter: invert(1);
  top: 33px;
  width: 23px;
  height: 23px;
  left: 180px;
  padding: 8px;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50px;
  transition: 0.25s ease-in-out;   
  animation-name: drop;
  animation-duration: 0.75s;
}

.discord:hover {
  border: 2px solid rgb(0, 217, 255);
  transition: 0.25s ease-in-out;   
  transform: scale(1.09);
}

.portfolio {
  position: absolute;
  filter: invert(1);
  top: 33px;
  width: 23px;
  height: 23px;
  left: 235px;
  padding: 8px;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50px;
  transition: 0.25s ease-in-out;   
  animation-name: drop;
  animation-duration: 0.75s;
}

.portfolio:hover {
  border: 2px solid rgb(0, 217, 255);
  transition: 0.25s ease-in-out;   
  transform: scale(1.09);
}

.shop {
  position: absolute;
  filter: invert(1);
  top: 33px;
  width: 23px;
  height: 23px;
  left: 290px;
  padding: 8px;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50px;
  transition: 0.25s ease-in-out;   
  animation-name: drop;
  animation-duration: 0.75s;
}

.shop:hover {
  border: 2px solid rgb(0, 217, 255);
  transition: 0.25s ease-in-out;   
  transform: scale(1.09);
}

.raven {
  position: absolute;
  filter: invert(1);
  top: 33px;
  width: 23px;
  height: 23px;
  left: 345px;
  padding: 8px;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50px;
  transition: 0.25s ease-in-out;  
  animation-name: drop;
  animation-duration: 0.75s;
}

.raven:hover {
  border: 2px solid rgb(0, 217, 255);
  transition: 0.25s ease-in-out;   
  transform: scale(1.09);
}

.nav-item1 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 270px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item2 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 390px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item3 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 610px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item4 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 735px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item5 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 840px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item6 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 940px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item7 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 1170px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item8 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 1340px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item9 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 270px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item10 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 443px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item11 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 610px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item12 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 735px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item13 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 840px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item14 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 940px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item15 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 1170px;
  margin-top: 50px;
  font-size: 30px;
}

.nav-item16 {
  font-family: spoody;
  position: absolute;
  color:white;
  top: -25px;
  left: 1340px;
  margin-top: 50px;
  font-size: 30px;
}


.whoiam {
  font-family: 'Roboto Mono', monospace;
  color:rgba(255, 255, 255, 1);
  text-align: center;
  top: 250px;
  margin-top: 50px;
  font-size: 30px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
}

.typewriter h1 {
  font-family: 'Roboto Mono', monospace;
  color:rgba(255, 255, 255, 1);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font: 30px;
  margin-left: 420px;
  animation: 
    typing 2.5s steps(200, end),
    blink-caret 6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* width */


  @keyframes example {
    from {top: -50px;}
    to {top: 15px;}
  }

  @keyframes drop {
    from {top: -50px;}
    to {top: 33px;}
  }

  @keyframes droptext {
    from {margin-top: -500px;}
    to {margin-top: 50px;}
  }

  @keyframes fadein {
    from {opacity: 10%;}
    to {opacity: 100%;}
  }

  /* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}